.landingContainer {
	height: calc(100vh - 100px);
}
.landingCta {
	background-color: var(--primaryColor);
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	color: var(--mainWhite);
	font-weight: 600;
	cursor: pointer;
	margin-top: 1rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media (max-width: 740px) {
	.landingContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.introText {
		padding: 0 1rem;
	}
	.title {
		font-size: 1.7rem;
		font-weight: 600;
		padding: 0;
	}
	.subtitle {
		font-size: 1rem;
		font-weight: 100;
	}
	.introImg img {
		width: 100%;
		height: 100%;
	}
}

/* Small devices  */
@media (min-width: 740px), (min-width: 1200px) {
	.landingContainer {
		display: flex;
		align-items: center;
		padding: 0 150px;
		width: 100%;
	}
	.title {
		font-size: 1.7rem;
		font-weight: 600;
		padding: 0;
	}
	.subtitle {
		font-size: 1rem;
		font-weight: 100;
	}
	.introText {
		width: 50%;
	}
	.introImg {
		width: 50%;
	}
	.introImg img {
		width: 100%;
		height: 100%;
	}
}
