.landing {
	background: red;
	background: hsla(12, 100%, 60%, 1);
	background: linear-gradient(
		45deg,
		hsla(12, 100%, 60%, 0) 0%,
		hsla(12, 100%, 60%, 0.5) 100%
	);
	background: -moz-linear-gradient(
		45deg,
		hsla(12, 100%, 60%, 0) 0%,
		hsla(12, 100%, 60%, 0.5) 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		hsla(12, 100%, 60%, 0) 0%,
		hsla(12, 100%, 60%, 0.5) 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF5C33", endColorstr="#FF5C33", GradientType=1 );
}
@media (max-width: 576px) {
	.landing {
		padding: 0;
	}
}

/* Small devices  */
/* @media (max-width: 740px) {
	.landing {
		height: 93vh;
		padding: 0 150px 0 150px;
	}
} */

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 740px), (min-width: 1200px) {
	.landing {
		height: 93vh;
		padding: 0 150px 0 150px;
	}
} */
