.ctaBtn {
	border-radius: 20px;
	border: 1px solid var(--primaryColor);
	color: var(--primaryColor);
	background-color: rgba(255, 92, 51, 0.4);
	cursor: pointer;
}
@media (max-width: 740px) {
	.ctaContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 600px;
		background-color: var(--mainGrey);
		margin: 0 20px;
	}
	.card {
		padding: 0;
		width: 400px;
		background-color: var(--mainGrey2);
		border-radius: 20px;
	}
	.userImg {
		height: 50%;
		margin-bottom: -3px;
	}
	.userImg img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 0 0 20px 20px;
	}
	.ctaDetails {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: 50%;
		padding: 2rem 12px;
	}
	.cardHeading {
		padding-bottom: 1rem;
		font-size: 1.2rem;
		font-weight: 600;
	}
	.ctaBtn {
		margin-top: 1rem;
		padding: 10px 20px;
	}
}
@media (min-width: 740px), (min-width: 1200px) {
	.ctaContainer {
		height: 70vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--mainGrey);
	}
	.card {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		width: 80%;
		background-color: #eeeeee;
	}
	.ctaDetails {
		width: 50%;
		padding: 1rem;
	}
	.userImg {
		width: 50%;
	}
	.userImg img {
		height: 100%;
		width: 100%;
		margin-bottom: -4px;
		object-fit: cover;
		border-radius: 0 0 20px 0px;
	}
	.cardHeading {
		padding-bottom: 1rem;
		font-size: 1.6rem;
		font-weight: 600;
	}
	.ctaBtn {
		margin-top: 1rem;
		padding: 10px 20px;
	}
}
