.navContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	/* background-color: red; */
}
.navEnd {
	display: flex;
	align-items: center;
}
.end {
	margin-left: 2rem;
}
.navLinks {
	margin-right: -10rem;
}
.navLinks a {
	text-decoration: none;
	color: var(--mainBlack);
	font-weight: 600;
}
.btn {
	background-color: var(--secondaryColor);
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	color: var(--mainWhite);
	font-weight: 600;
	cursor: pointer;
}
.link {
	margin: 0 3rem;
}
.dropBtn {
	background-color: #04aa6d;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-right: 1rem;
}

.dropContent {
	display: none;
	position: absolute;
	right: -15px;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 25px;
	z-index: 1;
	padding: 10px 0;
}

.dropContent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropBtn:hover {
	cursor: "pointer";
}

.dropContent a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropContent {
	display: block;
}

.dropdown:hover .dropBtn {
	background-color: #3e8e41;
}
/* Small devices  */
@media (max-width: 576px) {
	.navContainer {
		position: fixed;
		bottom: 0;
		/* height: 70px; */
		background-color: var(--mainWhite);
		width: 100%;
	}
	.largeNav {
		display: none;
	}
	.smallNav {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
	.smallIcon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.dropContent {
		display: none;
	}
	.end {
		display: none;
	}
}

/* // Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
