.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: chartreuse; */
}
.search {
	padding: 20px;
	position: relative;
}
.search input {
	width: 700px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid var(--primaryColor);
	padding: 10px;
}
.searchBtn {
	position: absolute;
	right: 2.2rem;
	bottom: 1.7rem;
	cursor: pointer;
}
