.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
}
.search {
	padding: 20px;
	position: relative;
}
.search input {
	width: 700px;
	height: 40px;
	border-radius: 20px;
	border: none;
	padding: 10px;
}
.searchBtn {
	position: absolute;
	right: 2.2rem;
	bottom: 1.7rem;
	cursor: pointer;
}
@media (max-width: 576px) {
	.search input {
		width: 300px;
		margin-top: 15px;
	}
}
