@media (max-width: 740px) {
	.headerContainer {
		display: none;
		margin-top: 2rem;
		padding: 0 1.2rem;
	}
	.housesNumber {
		padding-bottom: 12px;
	}
	.listingTitle {
		font-weight: 600;
		font-size: 1.5rem;
	}
	header {
		display: flex;
	}
	.filteringContainer {
		display: flex;
	}
	.filter {
		margin: 0 1rem;
	}
}
@media (min-width: 740px), (min-width: 1200px) {
}
